.comment-container{
    border-collapse: collapse;
    margin-top: 10px;
    vertical-align: top;
    width: fit-content;
    display:grid;
    grid-template-columns:60vh min-content;
}
.comment-data-container{
    padding:5px;
    position:relative;
}
.comment-author-photo-container{
    display: inline-block;
}
.comment-author-login-and-full-name-container{
    display:inline-block;
    vertical-align: top;
}
.comment-date{
    position: absolute;
    top:5px;
    right:5px;
}
.comment-content-container{
    margin-bottom:10px;
    overflow-wrap: break-word;
}
.comment-reaction-container{
    padding:5px;
}
.comment-author-login-container{
    display: block;
    margin: 0px 0px 5px 0px;
}
.replies-button-of-comment{
    float:right;
}
.comment-actions-buttons-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    width:fit-content;
}
.edit-button-of-comment, .delete-button-of-comment, .write-reply-button-of-comment{
    width:100%;
}
.write-reply-name-text{
    display:block;
}
.write-reply-content, #write_content_of_comment{
    display: block;
    min-height: 50px;
    max-height: 50vh;
    width:60vh;
    resize: vertical;
    border: 1px solid black;
    padding: 5px;
}
.write-reply-content::selection, #write_content_of_comment:focus-visible{
    outline:1px solid rgb(100, 100, 111);

}
.cancel-write-reply{
    margin-left:1%;
}
.textarea-for-edit-content-of-comment{
    position: relative;
    left:-3px;
    width: 100%;
    min-height: 50px;
    max-height: 50vh;
    resize:vertical;
    background-color: #ffffff50;
}
.button-for-save-changes-of-comment-content{
    display: block;
    float: right;
}
#submit_write_comment{
    display:block;
    margin-top: 3px;
}
#sort_comments_by_container{
    display: inline;
    float:right;
}
#title_text_of_comments{
    width: 60vh;
    font-size: larger;
}
#sort_comments_by_text{
    font-size: large;
}
.article-content-container{
    overflow-wrap: break-word;
    margin-bottom: 10px;
}
.comment-author-photo{
    max-width:25vh;
    max-height:50px;
}
#new_comment_writed_message, .comment-has-changed, .comment-deleted{
    font-style: italic;
    color:rgba(255, 255, 255, 0.459);
}
.comment-edited-message{
    font-style: italic;
    color:rgba(255, 255, 255, 0.459);
    text-align: right;
    padding-right: 10px;
    margin-top: -15px;
}
.comment-edited-message:empty{
    margin-top: 0px;
}
.block-click-when-load-comments{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0px;
    background-color: rgba(0, 0, 0, 0.3);
}