@using Dublongold_site.Models
@model List<Article_comment>
@addTagHelper *, Dublongold_site
@{
    Layout = null;
    Article_comment? Main_comment = ViewData["Main_comment"] as Article_comment;
    string comments_class = "comments-of-article";
    string? reply_to_comment = null;
    string? is_sort_comments_action = ViewContext.HttpContext.Request.Headers["is-sort-comments-action"].ToString();
    int number_of_comments = 0;
    if (Main_comment is Article_comment)
    {
        comments_class = "reply-comments";
        reply_to_comment = $"reply_to_comment = {Main_comment.Id}";
    }
    using(Database_context db_context = new())
    {
        Article_comment? first_comment = Model.FirstOrDefault();
        if(first_comment is not null)
            number_of_comments = db_context.Article_comments.Where(c => c.Article_id == first_comment.Article_id).Count();
    }
}
@if((is_sort_comments_action is null ||  is_sort_comments_action.ToLower() != "true") && comments_class != "reply-comments")
{
<div id="title_text_of_comments">
@if (Model.Count > 0)
{
<text>
    Коментарі(<span id = "number_of_comments">@number_of_comments</span>):
    <div id="sort_comments_by_container">
        <span id="sort_comments_by_text">Впорядкувати:</span>
        <select id="sort_comments_by">
            <option value="date" selected>За датою створення</option>
            <option value="rating">За рейтингом</option>
        </select>
    </div>
</text>
}
</div>
<div id = "new_comment_writed_message"></div>
}       
<div class = "@comments_class" @reply_to_comment>
    @if (Model.Count > 0)
    {
        @foreach (Article_comment comment in Model)
        {
            if (Main_comment != comment.Reply_to_comment)
            {
                continue;
            }
            await Html.RenderPartialAsync("/Views/Comment_control/Comment_builder.cshtml",comment);
        }
        @if(ViewContext.HttpContext.Response.Headers["need-load-more"] == "1")
        {
            <button class="load-more-comments">Завантажити ще...</button>
        }
    }
    else
    {
        <p id="comments_not_found"><em>Коментарів ще немає...</em></p>
    }
</div>