@using Dublongold_site.Models
@model List<Article_comment>
@{
    Layout = null;
    Article_comment? Main_comment = ViewData["Main_comment"] as Article_comment;
}

@if (Model.Count > 0)
{
    @foreach (Article_comment comment in Model)
    {
        if (Main_comment != comment.Reply_to_comment)
        {
            continue;
        }
        await Html.RenderPartialAsync("/Views/Comment_control/Comment_builder.cshtml",comment);
    }
}
else
{
    <p id="comments_not_found"><em>Додаткових коментарів немає...</em></p>
}