.dublongold-home-button{
    position: relative;
    font-size: 2.3em;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 0%;
}
open-at{
    display:none;
}
.dublongold-home-button > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title_elements_path_container{
    background-color: rgb(37 37 46);
}
#footer_body{
    text-align: center;
    vertical-align: bottom;
}

#container_of_body_and_find{
    padding: 0px;
    vertical-align: top;
    display: grid;
    grid-template-columns: 85% 15%;
}
#page_body{
    position: relative;
    background-color: rgba(52,53,65);
    padding:5px;
    overflow:auto;
    min-height: 80vh;
}
#footer_body{
    padding:1%;
}

.error-message{
    display: block;
    color: red;
    padding:2px;
}
#image_with_anchor_to_home{
    margin-right: 7px;
}

#body_head_text{
    margin-top: 1%;
    margin-bottom: 1%;
    width:90%;
    padding-bottom: 5px;    
}
#body_head_text_element{
    border-bottom: 2px solid white;
    font-size: 1.3em;
    font-weight: bold;
}
#sort_articles_by_container{
    margin-top:5px;
    margin-right: 50px;
    width:fit-content;
    display: inline;
    float: right;
}
#sort_articles_by_text{
    margin-right: 5px;
}
.load-more-comments, #load_more_articles{
    display: block;
    margin-top: 5px;
    width: fit-content;
}
.block-click-when-load-articles{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}