@using Dublongold_site.Models
@model string?
@{
    ViewData["Title"] = "Регістрація";

    if(ViewData["css_files"] is List<string> css_files)
    {
        css_files.Add("Account/register.css");
    }
    if(ViewData["js_files"] is List<string> js_files)
    {
        js_files.Add("Account/register.js");
    }
}
<form  id = "register_form" action = "/account/register" method="post">
    <div>
        @* Ім'я користувача *@
        <label for="register_user_name">Ім'я:</label>
        <input id="register_user_name" name="user-name-for-register"/>
        <div id="register_user_name_error" class="register-error-message"></div>
        @* Прізвище користувача *@
        <label for="register_user_surname">Прізвище:</label>
        <input id="register_user_surname" name="user-surname-for-register"/>
        <div id="register_user_surname_error" class="register-error-message"></div>
        @* Логін користувача *@
        <label for="register_user_login">Логін:</label>
        <input id="register_user_login" name="user-login-for-register"/>
        <div id="register_user_login_error" class="register-error-message"></div>
        @* Пароль користувача *@
        <label for="register_user_password">Пароль:</label>
        <input type="password" id="register_user_password" name="user-password-for-register"/>
        <div id="register_user_password_error" class="register-error-message"></div>
        @* Підтвердження паролю користувача *@
        <label for="register_user_confirm_password">Підтвердження паролю:</label>
        <input type="password" id="register_user_confirm_password"/>
        <div id="register_user_confirm_password_error" class="register-error-message"></div>
        @* Пошта користувача *@
        <label for="register_user_email">Пошта:</label>
        <input id="register_user_email" name="user-email-for-register"/>
        <div id="register_user_email_error" class="register-error-message"></div>
        @* Кнопка створення користувача *@
        <div id="submit_register_user_container">
            <button type = "button" id="submit_register_user">Створити</button>
        </div>
        <div id="register_user_error" class="register-error-message">@Model</div>
    </div>
</form>
<div id="recomendations_container">
    <p id = "recomendations_text">Рекомендації, яким потрібно слідувати, щоб ввести правильні дані і не викликати помилки:</p>
    <ul id = "recomendations_list">
        <li>Обов'язково введіть ім'я.</li>
        <li>Обов'язково введіть прізвище.</li>
        <li>Обов'язково введіть логін. Він має містити лише числа, букви та символи нижнього підкреслювання.</li>
        <li>Обов'язково введіть пароль. Він має містити мінімум 6 символів, один символ нижнього регістру, 1 символ верхнього регістру, 1 число та 1 спеціальний символ. Надійність паролю буде відображатися після того, як ви його введете.<br />Червоний - не надійний, таке не підходить. Жовтий - середня надійність, підходить, але краще зробити його надійніше. Зелений - пароль надійний, підходить.</li>
        <li>Обов'язково підтвердіть пароль, ввівши його ще раз у поле під паролем.</li>
        <li>Обов'язково підтвердіть пошту. Введена вами пошта повина бути саме поштою, наприклад, "poshta@@domen.com".</li>
    </ul>
</div>