#login_path_user_photo{
    max-height: 50px;
    max-width: 25%;
    float:left;
    margin-right: 5px;
    border: 1px solid rgb(71, 72, 85);
    border-radius: 5px;
}

.login-path-container{
    display: grid;
    grid-template-columns:max-content max-content;
    gap: 10px;
    margin-top: 3px;
}
.user-main-data-container{
    white-space: nowrap;
    width: fit-content;
}
#div_for_login_path{
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    height: 50px;
}
.user-other-data-container{
    white-space: nowrap;
    border-left:1px solid white;
    padding-left: 6px;
    padding-bottom: auto;
}
#form_for_login_elements{
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 1px;
}
.login-path-error-message{
    color:red;
    grid-column: span 3;
}
.user-some-info{
    display:inline-block;
    white-space: nowrap;
}
.user_article_buttons{
    display: block;
    position: absolute;
    right: 1%;
    top: 1%;
}